<!-- http://stackoverflow.com/questions/36104089/read-csv-file-from-a-location-and-display-as-html-table -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>About This Data</title>

    <!-- Bootstrap core CSS -->
 	<link href="https://bootswatch.com/flatly/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
    
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/quality">Time Series</a></li>
            <li  class="active"><a href="/about">About This Data Set</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Quality and About the Data Set</h1>
        <p>  </a></p>
      </div>

    
     <div class="page-header">
		<h2>About this data set</h2>
		<p>The original data set was found on kaggle at <a href="https://www.kaggle.com/currie32/crimes-in-chicago">www.kaggle.com/currie32/crimes-in-chicago</a>. 
			The data includes information on all crimes committed and recorded by the City of Chicago from 2001 to the present date minus the most recent seven days.
			The data includes detailed information about each incidient including case number, various levels of classification of the crime, locations (ranging from
			coordinates to region of city), and information on when the crime was committed.  </p>
      </div>
      
      <div class="page-header">
		<h2>Where did this data come from?</h2>
		<p>The original data set was found on kaggle at <a href="https://www.kaggle.com/currie32/crimes-in-chicago">www.kaggle.com/currie32/crimes-in-chicago</a>.
		</p>
      </div>
      
      <div class="page-header">
		<h2>Who has access to it?</h2>
		<p>The data is publically available on Kaggle.</p>
      </div>
      
     <div class="page-header">
		<h2>Is the data complete?</h2>
		<b>If not, what is missing and what concerns does it raise?
		What is your evidence for this?</b>
		<p>This data is not complete becuase there is a lack of data for 2014-2016. While doing our analysis of crime by season we found that there was no information 
		for Summer and Fall in 2016 and a large amoung of missing data for Fall 2014 as well and Summer and Fall 2015. The first graph below shows the decrease in number 
		of crimes from 2012-2016, while the second graph below that is aggregated by season per year visibly shows where the missing data is in our set for certain time periods. 
		This lack of data causes the overall number of crimes to appear to decrease from 2012-2016 drastically, but further investigation showed that there was simply
		a lack of data in the set for these times.</p>
		<br>
		<div class="row">
		    <div class="col-md-1"></div>
				<!-- CCbyYearOriginal -->
				<div class="col-md-10"><iframe width="1000" height="600" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1QTas06zTgIEc687N1LSkS-zDkMcPVizBjRWSPERRJ54/pubchart?oid=625925499&amp;format=interactive"></iframe></div>
				<div class="col-md-1"></div>
		 </div> <!-- /row -->
		 <div class="row">
		    <div class="col-md-1"></div>
				<!-- CCbyYearSeasonViolence -->
				<div class="col-md-10"><iframe width="975" height="479" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?cid=B5FAFF90B7101A41&resid=B5FAFF90B7101A41%21138&authkey=ABh843HmuD3nOgE&em=2&Item=Chart%203&wdDownloadButton=True"></iframe></div>
		    <div class="col-md-1"></div>
		 </div> <!-- /row -->
		<br>
		
	
     </div>
      
     <div class="page-header">
		<h2>Is the data coherent?</h2>
		<b>Does it make sense relative to itself? Does it match your
		expectations? Are the distributions sensible? What is your
		evidence for this?</b>
		<p>The data on the locations of where most crimes occur and where the most violent crimes occur does make sense. The southern wards
		and community areas of chicago have more crime and higher rates of violent crime and this makes sense becuase this is what is traditionally 
		reported in the media and these areas have higher poverty and minority rates.</p>
		<p>The violent versus non-violent data and ratios also do make sense because we expected that a majority of crimes committed would be petty crime 
		like theft and not actually violent</p>
		<p>The one part of our data that does not make sense is the overall number of crimes per year. The data we have shows a drastic descrease from 2012 to 2016
		and this does not makes sense. However,we did discover that this drop is most likely due to incomplete data for 2014, 2015, and 2016. </p>
     </div>

     <div class="page-header">
		<h2>Is the data correct?</h2>
		<b>What aspects of this data can you verify? How did you do so? What did
		you find?</b>
		<p>The data from Kaggle was not correct because of the data that was missing. We cross referenced data available from the Data Portal of the 
		City of Chicago and found different numbers for the total count of crimes that were more consistent across all four years and higher than our data.
		The City of Chicago Data Portal data can be found <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2/data">here</a>. With 
		this in mind the records themselves that were present in the Kaggle data were correct and accurate.</p>
     </div>
     <br>
     <br>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
