<!-- http://stackoverflow.com/questions/36104089/read-csv-file-from-a-location-and-display-as-html-table -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>About This Data</title>

    <!-- Bootstrap core CSS -->
 	<link href="https://bootswatch.com/flatly/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
    
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li  class="active"><a href="/about">About This Data Set</a></li>
            <li><a href="/quality">Time Series</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Quality and About the Data Set</h1>
        <p>Write a brief summary about the data set here</a></p>
      </div>

    
     <div class="page-header">
		<h2>About this data set</h2>
		<p>The original data set was found on kaggle at <a href="https://www.kaggle.com/currie32/crimes-in-chicago">www.kaggle.com/currie32/crimes-in-chicago</a>. 
			The data includes information on all crimes committed and recorded by the City of Chicago from 2001 to the present date minus the most recent seven days.
			The data includes detailed information about each incidient including case number, various levels of classification of the crime, locations (ranging from
			coordinates to region of city), and information on when the crime was committed.  </p>
      </div>
      
      <div class="page-header">
		<h2>Where did this data come from?</h2>
		<p>The original data set was found on kaggle at <a href="https://www.kaggle.com/currie32/crimes-in-chicago">www.kaggle.com/currie32/crimes-in-chicago</a>.
		</p>
      </div>
      
      <div class="page-header">
		<h2>Who has access to it?</h2>
		<p>The data is publically available on Kaggle.</p>
      </div>
      
     <div class="page-header">
		<h2>Is the data complete?</h2>
		<b>If not, what is missing and what concerns does it raise?
		What is your evidence for this?</b>
		<p>This data is not complete becuase there is a lack of data for 2016. While doing our analysis of crime by season we found that there was no information 
		for Summer and Fall in 2016. The table below shows part of our aggregated csv for violent compared to non-violent crimes by season (see full table
		<a href="https://s3-us-west-2.amazonaws.com/hexingren/Projects/Data+Pipeline/mid/CrimesByYearSeasonViolence.xlsx">here</a>): </p>
		<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.js"></script>
		<script>
		    function arrayToTable(tableData) {
		        var table = $('<table></table>');
		        $(tableData).each(function (i, rowData) {
		            var row = $('<tr></tr>');
		            $(rowData).each(function (j, cellData) {
		                row.append($('<td>'+cellData+'</td>'));
		            });
		            table.append(row);
		        });
		        return table;
		    }
		
		    $.ajax({
		        type: "GET",
		        url: "https://s3-us-west-2.amazonaws.com/hexingren/Projects/Data+Pipeline/mid/CrimesByYearSeasonViolence.xlsx",
		        success: function (data) {
		            $('body').append(arrayToTable(Papa.parse(data).data));
		        }
		    });
		</script-->
		<table class="table">
		  <thead>
		    <tr>
		      <th>Year</th>
		      <th>Season</th>
		      <th>Violent</th>
		      <th>Non-Violent</th>
		      <th></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>2016</td>
		      <td>Spring</td>
		      <td>7361</td>
		      <td>14747</td>
		    </tr>
		    <tr>
		      <td> </td>
		      <td>Summer</td>
		      <td><b>0</b></td>
		      <td><b>0</b></td>
		      <td>**Missing Data</td>
		    </tr>
		    <tr>
		      <td> </td>
		      <td>Fall</td>
		      <td><b>0</b></td>
		      <td><b>0</b></td>
		      <td>**Missing Data</td>
		    </tr>
		    <tr>
		      <td> </td>
		      <td>Winter</td>
		      <td>247</td>
		      <td>685</td>
		    </tr>
		  </tbody>
		</table>
     </div>
      
     <div class="page-header">
		<h2>Is the data coherent?</h2>
		<b>Does it make sense relative to itself? Does it match your
		expectations? Are the distributions sensible? What is your
		evidence for this?</b>
		<p> *include articles about chicago crime rate </p>
     </div>

     <div class="page-header">
		<h2>Is the data correct?</h2>
		<b>What aspects of this data can you verify? How did you do so? What did
		you find?</b>
     </div>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
