<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality of This Data</title>

    <!-- Bootstrap core CSS -->
 	<link href="https://bootswatch.com/flatly/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/quality">Time Series</a></li>
            <li><a href="/about">About This Data Set</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

	      <!-- Main jumbotron for a primary marketing message or call to action -->
	      <div class="jumbotron">
		<h1>Time Series Data</h1>
	        <p>Summary of why this time series representation is important</a></p>
	      </div>
	      
	    <div class="page-header">
			<p> Narrative </p>
	    </div>
		
		<!-- CCbyYearOriginal -->
		<iframe width="1200" height="700" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?cid=B5FAFF90B7101A41&resid=B5FAFF90B7101A41%21122&authkey=AOLEf4m9SJZHwjs&em=2&Item=Chart%201&wdDownloadButton=True"></iframe>
		<br>
			
		<!-- CCbyYearNorm -->
		<iframe width="1200" height="870" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?cid=B5FAFF90B7101A41&resid=B5FAFF90B7101A41%21129&authkey=AHrL1R4IJ-wByLo&em=2&Item=Chart%205&wdDownloadButton=True"></iframe>
		<br>
			
		<!-- CCbyYearSeasonViolence -->
		<iframe width="1200" height="700" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?cid=B5FAFF90B7101A41&resid=B5FAFF90B7101A41%21134&authkey=AGyfXT5u3G9hlGI&em=2&Item=Chart%203&wdDownloadButton=True"></iframe>
		<br>
			
		<!-- CCEveryday -->
		<iframe width="1200" height="324" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?cid=B5FAFF90B7101A41&resid=B5FAFF90B7101A41%21120&authkey=ADDBfaPOxUy5ac8&em=2&Item=Chart%202&wdDownloadButton=True"></iframe>
	    


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
